
    <a href="/create-node"
       class="pretty-text"
       style="font-weight: bold; font-size: 2.5rem">
        <div id="create-content">+</div>
    </a>
<footer>
    <p class="pretty-text">Some copyright information etc</p>
</footer>