<footer>
    <div id="create-content">
        <a href="/create-node"
           class="pretty-text"
           style="font-weight: bold; font-size: 2.5rem">
            +
        </a>
    </div>
    <p class="pretty-text">Some copyright information etc</p>
</footer>