<header>
        <h1 id="site-name" class="pretty-text">daily journal </h1>

        <div class="header-right">
            <a class="pages pretty-text" href="/home">home</a>
            <a class="pages pretty-text" href="/about-us">about us</a>
            <a class="pages pretty-text" href="/contact-us">contact us</a>
        </div>
</header>