<header>
        <h1 id="site-name" class="pretty-text">daily journal </h1>

        <div class="header-right">
            <h2 class="pages pretty-text">home</h2>
            <h2 class="pages pretty-text">about us</h2>
            <h2 class="pages pretty-text">contact us</h2>
        </div>
</header>