body {
    margin: 0
}
header {
    /*background-color: #FAF6FA;*/
    background-color: #2aaa80;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;

}
#site-name {
    font-weight: 700;
}
.pretty-text {
    color: #EDE9ED;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 1.5rem;
    text-decoration: none;
}
.header-right {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
.pages {
    margin-right: 3rem;
}

footer {
    position: absolute;
    bottom: 0;
    height: 3rem;
    background-color: #2aaa80;
    display: flex;
    justify-content: center;
    width: 100%;
}